{% extends 'sicupira/base.html' %}

{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url 'discente_list' %}">Lista de Discentes</a>
{% endblock %}

{% block content %}
{% load static %} 

<h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> Discentes</h3>

<div style="width: 90%;margin: auto;">

    <div class="container">
        <h4>Filtro</h2>
        <form action="/discente" method="get">
            <div class="form-group">
                <label for="ano">Ano:</label>
                <input type="input" class="form-control" id="ano" name="ano" value="" list="lista_ano">                
                <datalist id="lista_ano">
                    {% for discente in page_obj %}
                        <option value="{{ discente.ano }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="instituicao">Instituição:</label>
                <input type="input" class="form-control" id="instituicao" name="instituicao" value="" list="lista_instituicao">                
                <datalist id="lista_instituicao">
                    {% for discente in page_obj %}
                        <option value="{{ discente.curso.programa_id.instituicao.nome }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="programa">Programa:</label>
                <input type="input" class="form-control" id="programa" name="programa" value="" list="lista_programa">                
                <datalist id="lista_programa">
                    {% for discente in page_obj %}
                        <option value="{{ discente.curso.programa_id.programa_nome }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="input" class="form-control" id="nome" name="nome" value="" list="lista_nome">                
                <datalist id="lista_nome">
                    {% for discente in page_obj %}
                        <option value="{{ discente.pessoa.nome }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="nivel">Nivel:</label>
                <input type="input" class="form-control" id="nivel" name="nivel" value="" list="lista_nivel">                
                <datalist id="lista_nivel">
                    {% for discente in page_obj %}
                        <option value="{{ discente.nivel.desc_nivel_graduacao }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="situacao">Situação:</label>
                <input type="input" class="form-control" id="situacao" name="situacao" value="" list="lista_situacao">                
                <datalist id="lista_situacao">
                    {% for discente in page_obj %}
                        <option value="{{ discente.situacao.desc_situacao_matricula }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <button type="submit" class="btn btn-default">Buscar</button>                    
            <button type="reset"  class="btn btn-warning" id="btnReset" onclick="Reset();" >Limpar</button>
            <a href="{% url "discente_new" %}" style="float: right;font-size: 190%;"><span class="label label-success">Novo +</span></a> 
        </form>
    </div>
    <script>
        // Script para manipular via DOM as buscas
        document.getElementById('instituicao').value = urlParams.get('instituicao')      
        document.getElementById('programa').value = urlParams.get('programa')      
        document.getElementById('nome').value = urlParams.get('nome')      
        document.getElementById('nivel').value = urlParams.get('nivel')
        document.getElementById('situacao').value = urlParams.get('situacao')
        document.getElementById('ano').value = urlParams.get('ano')        
        
        //Reseta formulario. Troque pela url correta
        function Reset() {
            location.replace('/discente');
        }
    </script>

    <hr/>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nível</th>
                <th>Situação</th>
                <th>Ver</th>
                <th>Alterar</th>
                <th>Apagar</th>
            </tr>
        </thead>
        <tbody>
            {% for discente in page_obj %}
            <tr>
            <td>{{ discente.pessoa.nome }}</td>
            <td>{{ discente.nivel.desc_nivel_graduacao }}</td>
            <td>{{ discente.situacao.desc_situacao_matricula }}</td>
            <td><a href="{% url "discente_view" discente.pessoa.id %}"><span class="label label-info">ver</span></a></td>
            <td><a href="{% url "discente_edit" discente.pessoa.id %}"><span class="label label-warning">alterar</span></a></td>
            <td><a href="{% url "discente_delete" discente.pessoa.id %}"><span class="label label-danger">apagar</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

        <div class="pagination" style="padding-left: 35%;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; primeiro</a>
                    <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">próximo</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">último &raquo;</a>
                {% endif %}
            </span>
        </div>

</div>

{% endblock %}