{% extends 'sicupira/base.html' %}

{% block breadcrumbs %}
    {{ block.super }} » 

    {% if discente.pessoa.id > 0 %}
    <a href="{% url 'discente_edit' discente.pessoa.id %}">Formulário de Discente</a>
    {% else %}
    <a href="{% url 'discente_new' %}">Formulário de Discente</a>
    {% endif %}

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% load static %} 

<h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> Formulário de Discente</h3>

{% include 'common/flash_message.html' %}

<div style="width: 90%;margin: auto;">
    {% if is_new %}
        <h4>Importar Curriculo Lattes</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"  accept=".xml" name="myfile" class="btn btn-default" >
            <p>Selecionar apenas arquivos XML</p>
            <br/>
            <button type="submit" name="import_xml" class="btn btn-primary">Upload</button>   
        </form>
        <br />
    {% endif %}
    <form method="post"  >
      {% csrf_token %}      
      {{ pessoa_form |crispy }}
      {{ discente_form |crispy }}
    <h3>Abreviaturas</h3>
    {{ abreviatura_form.management_form }}
    {{ abreviatura_form.non_form_errors.as_ul }}
    <table id="formset_{{forloop.counter}}" class="form">
    {% for form in abreviatura_form.forms %}
      <!-- <a class="btn btn-info" id="add-item"><i class="fa fa-plus"></i> nova abreviatura</a> -->
      {% if forloop.first %}
         <thead>
            <tr>
                {% for field in form.visible_fields %}
            <th style="width:200px">{{ field.label|capfirst }}</th>
                {% endfor %}
             </tr>
         </thead>
      {% endif %}
      <tbody>
          <tr>
          {% for field in form.visible_fields %}
            <td>
            {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
            {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
          {% endfor %}
          </tr>
      </tbody>
    {% endfor %}
    </table>
      <br/>
        {% include 'common/form_button.html' %}
    </form>
</div>

{% endblock %}
