{% extends 'sicupira/base.html' %}

{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url 'docente_view' docente.pessoa.id %}">Detalhes do Docente</a>
{% endblock %}

{% block content %}
{% load static %} 

<h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> Detalhes do Docente</h3>
    <h4>Nome: {{docente.pessoa.nome}}</h4>
    Sexo: {{ docente.pessoa.sexo.desc_sexo }}<br/>    
    Graduação: {{ docente.pessoa.titulo_nivel.desc_nivel_graduacao }}<br/>    
    Intituição de Ensino: {{ docente.pessoa.vinculo_ies.desc_vinculo_ies }}<br/>    

{% endblock %}