{% load static %}

<!DOCTYPE html>
<html>
<head>
  
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/core.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
  <script type="text/javascript" src="/static/admin/js/actions.js"></script>
  <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
  <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
  <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 -->

 <!-- datepicker  e crud inline -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Mascara de campos -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>


<script>  
$( function() {
  dateinput = document.getElementsByClassName("dateinput form-control");
  $( dateinput ).datepicker().attr("autocomplete", "off");
  $( dateinput ).mask('00/00/0000');
  //Até 5 telefones com mascara
  $('#id_EnderecoTelefone-0-numero').mask('00000-0000');  
  $('#id_EnderecoTelefone-1-numero').mask('00000-0000');  
  $('#id_EnderecoTelefone-2-numero').mask('00000-0000');  
  $('#id_EnderecoTelefone-3-numero').mask('00000-0000');  
  $('#id_EnderecoTelefone-4-numero').mask('00000-0000');   
} );
</script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1%;
}

</style>
</head>
<body>

<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
</script>


  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sicupira</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">Inicio</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Programa
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/programa">Dados Cadastrais - Básicos</a></li>
            <li><a href="/enderecoprograma">Dados Cadastrais - Endereços</a></li>
            <li><a href="/curso">Dados Cadastrais - Cursos</a></li>
            <li><a href="/linhapesquisa">Linhas de Pesquisa</a></li>
            <li><a href="/disciplina">Disciplinas</a></li>
            <li><a href="/turma">Turmas</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pessoas
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/docente">Docentes</a></li>
            <li><a href="/discente">Discentes</a></li>
          </ul>
        </li>
        <li class="active"><a href="/importaxml">Lattes</a></li>
        <li class="active"><a href="/admin">Admin</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sobre
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://gitlab.com/ime-dsc-2020/sicupira">Código fonte</a></li>
            <li><a href="https://gitlab.com/ime-dsc-2020/sicupira/-/wikis/home">Wiki</a></li>            
            <li><a href="https://gitlab.com/ime-dsc-2020/sicupira#equipe">Equipe</a></li>            
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">        
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

  <p>    
    {% block breadcrumbs %}Home{% endblock %}
    {% block content %}
    {% endblock %}

  </p>
</div>

</body>
</html>