{% extends 'sicupira/base.html' %}

{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url 'disciplina_delete' disciplina.id %}">Apagar disciplina</a>
{% endblock %}

{% block content %}
{% load static %} 

    <h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> Apaga Disciplina</h3>
    <form method="post">{% csrf_token %}
        Voce realmente quer apagar "{{ disciplina.nome_disciplina }}" ?<br/>
        <input type="submit" value="Apagar" class="btn btn-danger" />
    </form>

{% endblock %}