{% extends 'sicupira/base.html' %}

{% block content %}
{% load static %} 

<h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> UFs</h3>

<div style="width: 90%;margin: auto;">

    <div class="container">
        <h4>Filtro</h2>
        <form action="/disciplina" method="get">
            <div class="form-group">
                <label for="nome_disciplina">Nome:</label>
                <input type="input" class="form-control" id="nome_disciplina" name="nome_disciplina" value="" list="lista_nome_disciplina">                
                <datalist id="lista_nome_disciplina">
                    {% for disciplina in page_obj %}
                        <option value="{{ disciplina.nome_disciplina }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="sel1">Sigla:</label>
                <select class="form-control" id="sigla" name="sigla">
                {% for disciplina in page_obj %}
                  <option value="{{ disciplina.sigla }}">{{ disciplina.sigla }}</option>
                {% endfor %}
                </select>
            </div>            
            <button type="submit" class="btn btn-default">Buscar</button>                    
            <button type="reset"  class="btn btn-warning" id="btnReset" onclick="Reset();" >Limpar</button>
        </form>
    </div>
    <script>
        // Script para manipular via DOM as buscas
        document.getElementById('nome_disciplina').value = urlParams.get('nome_disciplina')
        document.getElementById('sigla').value = urlParams.get('sigla')        
        
        //Reseta formulario. Troque pela url correta
        function Reset() {
            location.replace('/disciplina');
        }
    </script>

    <hr/>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>nome</th>
                <th>sigla</th>                
                <th>número</th>
                <th>créditos</th>                
                <th>ementa</th>
                <th>bibliografia</th>                
                <th>Ver</th>
                <th>Alterar</th>
                <th>Apagar</th>
            </tr>
        </thead>
        <tbody>
            {% for disciplina in page_obj %}
            <tr>
            <td>{{ disciplina.nome_disciplina }}</td>
            <td>{{ disciplina.sigla }}</td>
            <td>{{ disciplina.numero }}</td>
            <td>{{ disciplina.creditos }}</td>
            <td>{{ disciplina.ementa }}</td>
            <td>{{ disciplina.bibliografia }}</td>
            <td><a href="{% url "disciplina_view" disciplina.id %}"><span class="label label-info">ver</span></a></td>
            <td><a href="{% url "disciplina_edit" disciplina.id %}"><span class="label label-warning">alterar</span></a></td>
            <td><a href="{% url "disciplina_delete" disciplina.id %}"><span class="label label-danger">apagar</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

        <a href="{% url "disciplina_new" %}" style="float: left;">Novo</a> 

        <div class="pagination" style="padding-left: 35%;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; primeiro</a>
                    <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">próximo</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">último &raquo;</a>
                {% endif %}
            </span>
        </div>

</div>

{% endblock %}