{% extends 'sicupira/base.html' %}

{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url 'enderecoprograma_view' enderecoprograma.id %}">Detalhes do endereço do programa</a>
{% endblock %}

{% block content %}
{% load static %} 
  
  <h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> Endereços</h3>
  <p>    


    <h3>Detalhes Endereço</h3>
    <h4>Nome: {{enderecoprograma.programa_id}}</h4>

    UF:  {{ enderecoprograma.estado_id }}<br/>
    Cep:  {{ enderecoprograma.cep }}<br/>
    Logradouro:  {{ enderecoprograma.logradouro }}<br/>
    Número:  {{ enderecoprograma.numero }}<br/>
    Complemento:  {{ enderecoprograma.complemento }}<br/>
    Bairro:  {{ enderecoprograma.bairro }}<br/>
    Municipio:  {{ enderecoprograma.municipio }}<br/>
    Fax:  {{ enderecoprograma.fax }}<br/>
    Telefone:  {{ enderecoprograma.telefone }}<br/>
    Ramal:  {{ enderecoprograma.ramal }}<br/>
    Email:  {{ enderecoprograma.email }}<br/>
    Web Site:  {{ enderecoprograma.web_site }}<br/>
    Inicio:  {{ enderecoprograma.inicio }}<br/>
    Fim:  {{ enderecoprograma.fim }}<br/>
    Latitude:  {{ enderecoprograma.latitude }}<br/>
    Longitude:  {{ enderecoprograma.longitude }}<br/>
    <br/>
    <br/>
    {% include 'common/back_button.html' %}
{% endblock %}


