{% extends 'sicupira/base.html' %}

{% block content %}
{% load static %} 
  
  <h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> Endereços</h3>

  <div style="width: 90%;margin: auto;">

    <table class="table table-striped">
        <thead>
        
            <tr>
                <th>Nome da IES</th>
                <th>cep</th>                
                <th>logradouro</th>    
                <th>numero</th>
                <th>complemento</th>
                <th>bairro</th>
                <th>municipio</th>
                <th>UF</th>
                <th>fax</th>
                <th>telefone</th>
                <th>ramal</th>
                <th>email</th>
                <th>url</th>
                <th>inicio</th>
                <th>fim</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>Ver</th>
                <th>Alterar</th>
                <th>Apagar</th>
            </tr>
        </thead>
        <tbody>
            {% for endereco in object_list %}
            <tr>
            <td>{{ endereco.nome }}</td>
            <td>{{ endereco.cep }}</td>
            <td>{{ endereco.logradouro }}</td>
            <td>{{ endereco.numero }}</td>
            <td>{{ endereco.complemento }}</td>
            <td>{{ endereco.bairro }}</td>
            <td>{{ endereco.municipio }}</td>
            <td>{{ endereco.uf }}</td>
            <td>{{ endereco.fax }}</td>
            <td>{{ endereco.telefone }}</td>
            <td>{{ endereco.ramal }}</td>
            <td>{{ endereco.email }}</td>
            <td>{{ endereco.url }}</td>
            <td>{{ endereco.inicio }}</td>
            <td>{{ endereco.fim }}</td>
            <td>{{ endereco.latitude }}</td>
            <td>{{ endereco.longitude }}</td>
            <td><a href="{% url "endereco_view" endereco.id %}"><span class="label label-info">ver</span></a></td>
            <td><a href="{% url "endereco_edit" endereco.id %}"><span class="label label-warning">alterar</span></a></td>
            <td><a href="{% url "endereco_delete" endereco.id %}"><span class="label label-danger">apagar</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        
        <a href="{% url "endereco_new" %}" style="float: left;">Novo</a>        

        <div class="pagination" style="padding-left: 35%;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; primeiro</a>
                    <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">próximo</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">último &raquo;</a>
                {% endif %}
            </span>
        </div>
</div>

{% endblock %}