{% extends 'sicupira/base.html' %}

{% block breadcrumbs %}
{{ block.super }} »

{% if enderecoprograma.id > 0 %}
<a href="{% url 'enderecoprograma_edit' enderecoprograma.id %}">Formulário do endereço do programa</a>
{% else %}
<a href="{% url 'enderecoprograma_new' %}">Formulário do endereço do programa</a>
{% endif %}

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% load static %}

<h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> Formulário de Endereço</h3>

<div style="width: 90%;margin: auto;">
  <form method="post">
    {% csrf_token %}

    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.programa_id|as_crispy_field }}
        <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
        <script>
          // Rotina para CRUD inline dentro de outro template
          $(document).ready(function () {
            $("select.select").change(function () {
              var id_programa = $(this).children("option:selected").val();
              if (id_programa !== "") {
                document.getElementById('change_id_programa_id').href = '/admin/sicupira/programa/' + id_programa + '/change/?_to_field=id&_popup=1'
                document.getElementById('delete_id_programa_id').href = '/admin/sicupira/programa/' + id_programa + '/delete/?_to_field=id&_popup=1'
              }
            });
          });
        </script>
        <a class="related-widget-wrapper-link change-related" id="change_id_programa_id"
          href="/admin/sicupira/programa/add/?_to_field=id&_popup=1" title="Alterar programa selecionadoa">
          <img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
        </a>
        <a class="related-widget-wrapper-link add-related" id="add_id_programa_id"
          href="/admin/sicupira/programa/add/?_to_field=id&_popup=1" title="Adicionar outro programa">
          <img src="/static/admin/img/icon-addlink.svg" alt="Adicionar">
        </a>
        <a class="related-widget-wrapper-link delete-related" id="delete_id_programa_id"
          href="/admin/sicupira/programa/add/?_to_field=id&_popup=1" title="Excluir programa selecionado">
          <img src="/static/admin/img/icon-deletelink.svg" alt="Apagar">
        </a>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.estado_id|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.cep|as_crispy_field }}
      </div>
    </div>
    <div class="form-row field-instituicao">
      <div class="form-group">
        <div class="related-widget-wrapper">
          {{ enderecoprograma_form.logradouro|as_crispy_field }}
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.numero|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.complemento|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.bairro|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.municipio|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.email|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.web_site|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.inicio|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        {{ enderecoprograma_form.fim|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">

        <h3>Telefones</h3>
        {{ telefoneenderecoprograma_form.management_form }}
        {{ telefoneenderecoprograma_form.non_form_errors.as_ul }}
        <table id="formset_{{forloop.counter}}" class="form">
          {% for form in telefoneenderecoprograma_form.forms %}
          <!-- <a class="btn btn-info" id="add-item"><i class="fa fa-plus"></i> nova abreviatura</a> -->
          {% if forloop.first %}
          <thead>
            <tr>
              {% for field in form.visible_fields %}
              <th style="width:200px">{{ field.label|capfirst }}</th>
              {% endfor %}
            </tr>
          </thead>
          {% endif %}
          <tbody>
            <tr>
              {% for field in form.visible_fields %}
              <td>
                <br />
                {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% endif %}
                {{ field.errors.as_ul }}
                {{ field }}
              </td>
              {% endfor %}
            </tr>
          </tbody>
          {% endfor %}
        </table>





        {% include 'common/form_button.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock %}