{% extends 'sicupira/base.html' %}

{% block content %}
{% load static %} 
  
  <h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> Instituições</h3>
  <p>    


    <h3>Detalhes Instituição</h3>
    <h4>Nome: {{instituicao.nome}}</h4>
    UF:  {{ instituicao.uf }}<br/>
    Cep: {{ instituicao.cep }}<br/>
    Logradouro: {{ instituicao.logradouro }}<br/>
    Número: {{ instituicao.numero }}<br/>
    Complemento: {{ instituicao.complemento }}<br/>
    Bairro: {{ instituicao.bairro }}<br/>
    Municipio: {{ instituicao.municipio }}<br/>
    Fax: {{ instituicao.fax }}<br/>
    Telefone: {{ instituicao.telefone }}<br/>
    Ramal: {{ instituicao.ramal }}<br/>
    Email: {{ instituicao.email }}<br/>
    URL: {{ instituicao.url }}<br/>
    Inicio: {{ instituicao.inicio }}<br/>
    Fim: {{ instituicao.fim }}<br/>
    Latitude: {{ instituicao.latitude }}<br/>
    Longitude: {{ instituicao.longitude }}

{% endblock %}


