{% extends 'sicupira/base.html' %}

{% block breadcrumbs %}
    {{ block.super }} » 

    {% if programa.id > 0 %}
    <a href="{% url 'programa_edit' programa.id %}">Formulário do programa - Dados cadastrais básicos</a></a>
    {% else %}
    <a href="{% url 'programa_new' %}">Formulário do programa - Dados cadastrais básicos</a></a>
    {% endif %}
    
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% load static %} 

<h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> Formulário do Programa - Dados cadastrais básicos</a></h3>

<div style="width: 90%;margin: auto;">
    <form method="post">
      {% csrf_token %}
      
      <div class="form-row">
        <div class="form-group">
          {{ form.codigo_programa|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.nome_programa|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.nome_ingles|as_crispy_field }}
        </div>
      </div>
      <div class="form-row field-instituicao">
        <div class="form-group">
          <div class="related-widget-wrapper">
            {{ form.instituicao|as_crispy_field }}
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <script>
              // Rotina para CRUD inline dentro de outro template
              $(document).ready(function(){
                  $("select.select").change(function(){
                      var id_instituicao = $(this).children("option:selected").val();
                      if (id_instituicao !== "") {                      
                        document.getElementById('change_id_instituicao').href = '/admin/sicupira/instituicao/' + id_instituicao + '/change/?_to_field=id&_popup=1'
                        document.getElementById('delete_id_instituicao').href = '/admin/sicupira/instituicao/' + id_instituicao + '/delete/?_to_field=id&_popup=1'
                      }
                  });
              });
              </script>
            <a class="related-widget-wrapper-link change-related" id="change_id_instituicao" href="/admin/sicupira/instituicao/add/?_to_field=id&_popup=1" title="Alterar instituicao selecionada">
              <img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
            </a>
            <a class="related-widget-wrapper-link add-related" id="add_id_instituicao" href="/admin/sicupira/instituicao/add/?_to_field=id&_popup=1" title="Adicionar outra instituicao">
              <img src="/static/admin/img/icon-addlink.svg" alt="Adicionar">
            </a>
            <a class="related-widget-wrapper-link delete-related" id="delete_id_instituicao" href="/admin/sicupira/instituicao/add/?_to_field=id&_popup=1" title="Excluir instituicao selecionada">
              <img src="/static/admin/img/icon-deletelink.svg" alt="Apagar">
            </a>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.ano|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.nota|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.modalidade_id|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.regime_letivo_id|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.estado_id|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.regiao_id|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.situacao_id|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group areabasica">
          {{ form.area_basica|as_crispy_field }}
          <script>
            // Rotina para CRUD inline dentro de outro template
            $(document).ready(function(){
                $("select.select").change(function(){
                    var id_area_basica = $(this).children("option:selected").val();
                    if (id_area_basica !== "") {                      
                      document.getElementById('change_id_area_basica').href = '/admin/sicupira/areabasica/' + id_area_basica + '/change/?_to_field=id&_popup=1'
                      document.getElementById('delete_id_area_basica').href = '/admin/sicupira/areabasica/' + id_area_basica + '/delete/?_to_field=id&_popup=1'
                    }
                });
            });
            </script>
          <a class="related-widget-wrapper-link change-related" id="change_id_area_basica" href="/admin/sicupira/areabasica/add/?_to_field=id&_popup=1" title="Alterar área básica selecionada">
            <img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
          </a>
          <a class="related-widget-wrapper-link add-related" id="add_id_area_basica" href="/admin/sicupira/areabasica/add/?_to_field=id&_popup=1" title="Adicionar outra área básica">
            <img src="/static/admin/img/icon-addlink.svg" alt="Adicionar">
          </a>
          <a class="related-widget-wrapper-link delete-related" id="delete_id_area_basica" href="/admin/sicupira/areabasica/add/?_to_field=id&_popup=1" title="Excluir área básica selecionada">
            <img src="/static/admin/img/icon-deletelink.svg" alt="Apagar">
          </a>
      </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.area_avaliacao|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.flg_cooperacao|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {{ form.flg_rede|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          {% include 'common/form_button.html' %}
        </div>
      </div>
      
    </form>
</div>
{% endblock %}