{% extends 'sicupira/base.html' %}

{% block breadcrumbs %}
    {{ block.super }} » 

    {% if programa.id > 0 %}
    <a href="{% url 'turma_edit' turma.id %}">Formulário de turma</a>
    {% else %}
    <a href="{% url 'turma_new' %}">Formulário de turma</a>
    {% endif %}
    
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% load static %} 

<h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> Formulário de Turma</h3>

<div style="width: 90%;margin: auto;">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}      
      {% include 'common/form_button.html' %}
    </form>
</div>
{% endblock %}