{% extends 'sicupira/base.html' %}

{% block content %}
{% load static %} 

<h3> <img src="{% static "images\logo.png" %}" alt="My image" style="height: 70px;"> UFs</h3>

<div style="width: 90%;margin: auto;">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>nome</th>
                <th>sigla</th>                
                <th>Ver</th>
                <th>Alterar</th>
                <th>Apagar</th>
            </tr>
        </thead>
        <tbody>
            {% for uf in page_obj %}
            <tr>
            <td>{{ uf.nome }}</td>
            <td>{{ uf.sigla }}</td>
            <td><a href="{% url "uf_view" uf.id %}"><span class="label label-info">ver</span></a></td>
            <td><a href="{% url "uf_edit" uf.id %}"><span class="label label-warning">alterar</span></a></td>
            <td><a href="{% url "uf_delete" uf.id %}"><span class="label label-danger">apagar</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

        <a href="{% url "uf_new" %}" style="float: left;">Novo</a> 

        <div class="pagination" style="padding-left: 35%;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; primeiro</a>
                    <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">próximo</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">último &raquo;</a>
                {% endif %}
            </span>
        </div>

</div>

{% endblock %}